[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "labsimplex"]
	path = labsimplex
	url = https://github.com/crparedes/labsimplex
[submodule "masscor"]
	path = masscor
	url = https://github.com/crparedes/masscor
[submodule "transmem"]
	path = transmem
	url = https://github.com/crparedes/transmem
